@using Microsoft.AspNetCore.Authorization;

@* Verifica se o usuário está logado *@
@if (User.Identity.IsAuthenticated)
{
    @* Verifica se é usuário comum (admin não vê) *@
    @if (User.IsInRole("Usuario"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Vasos" asp-action="MeusVasos">Vasos</a>
        </li>

        @* Dashboard *@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Vasos" asp-action="Dashboard">Dashboard</a>
        </li>
    }
}
