@model VasosInteligentes.Models.Planta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UmidadeIdealMinima" class="control-label"></label>
                <input asp-for="UmidadeIdealMinima" class="form-control" />
                <span asp-validation-for="UmidadeIdealMinima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UmidadeIdealMaxima" class="control-label"></label>
                <input asp-for="UmidadeIdealMaxima" class="form-control" />
                <span asp-validation-for="UmidadeIdealMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuminosidadeIdeal" class="control-label"></label>
                <input asp-for="LuminosidadeIdeal" class="form-control" />
                <span asp-validation-for="LuminosidadeIdeal" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-2 mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary w-100" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
