body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
    padding: 1rem;
}

main {
    width: 60%;
    height: auto;
    padding: 4.5rem .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 2.5rem;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px #0000002d;
}

.title {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.1rem;
    border-radius: 2px;
    padding: .5rem .1rem;
    background-color: #d6d6d6;
    
    & h1 {
        font-size: 15pt;
        text-transform: uppercase;
        color: #0f0f0f;
        padding-left: 1.5rem;
    }
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .75rem 1rem;

    & .link {
        width: 13.75rem;
        height: 8.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #a5a5a5;
        gap: .5rem;
        color: #1a1a1a;
        text-decoration: none;
        font-size: 14pt;
        transition: all .25s ease-out;
        
        & i {
            font-size: 25pt;
        }

        &:hover {
            background-color: #d6d6d6;
            color: #000;
            border: 1px solid #727272;
            transition: all .25s ease-in;
        }
    }
}