.cabecalho {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-bg);
    border-bottom: .5px solid #0000009b;

    & .logo {
        width: 100px;
        height: auto;
        filter: invert(1);
    }

    & .menu {
        width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & ul {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            list-style: none;
            gap: 1rem;

            & a {
                text-transform: uppercase;
                color: var(--text-header);
                text-decoration: none;
                font-size: 1rem;
                padding: 8px 35px;


                &:hover {
                    background-color: #b33a0ecc;
                }
            }

            & .btn-darkmode {
                text-transform: uppercase;
                background-color: var(--btn-bg);
                color: var(--btn-color);
                padding: 8px 25px;
                border-radius: 4px;
                font-size: 1rem;
                font-weight: 600;
                box-shadow: 0 0 10px #000000cc;
                margin-left: 10px;
            }
        }
    }
}

.apresentacao {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-02);
    gap: 4rem;

    & .left {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .churras {
            margin-top: 20px;
            width: 500px;
            border-radius: 5px;
            box-shadow: 0 0 10px #000000b4;
        }
    }

    & .right {
        width: 700px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        & .a-title {
            font-size: 20pt;
            color: var(--title-color);
        }

        & .a-title-2 {
            font-size: 18pt;
            width: 700px;
            font-weight: 600;
            color: var(--text-color);
        }

        & .a-text {
            color: var(--p-color);
            width: 700px;
            font-size: 14.5pt;
            margin-top: 10px;
        }
    }
}

.s-receita {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: var(--bg-color-01);

    & .receita {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg-color-02);
        padding: 20px;
        box-shadow: 0 0 10px #000000b4;
        border-radius: 7px;

        & .introducao {
            width: 1000px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            margin-top: 20px;

            & .i-title {
                font-size: 18pt;
                color: var(--title-color);
            }

            & .p-caseiro {
                width: 700px;
                height: auto;
                border-radius: 5px;
                box-shadow: 0 0 10px #000000b4;
            }
        }

        & .ingredientes {
            width: 1000px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            margin-top: 40px;

            & h2 {
                font-size: 18pt;
                color: var(--title-color);
            }

            & ul li {
                width: 600px;
                height: auto;
                font-size: 13pt;
                color: var(--p-color);
            }
        }

        & .modo-prep {
            width: 1000px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            margin-top: 40px;

            & h2 {
                font-size: 18pt;
                color: var(--title-color);
            }

            & ol li {
                width: 600px;
                height: auto;
                font-size: 13pt;
                color: var(--p-color);

                & strong {
                    color: #ff3c00;
                }
            }
        }
    }
}

.finalizacao {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--p-color);
}